html, body {
    width: 100%;
    height: 100%;
}

/* SASS: Selectores-Anidamiento */
/* Este comentario no se borra luego de la compilación */
.escudo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    img {
        height: 70px;
        margin: 10px 50px;
    }
    span {
        font-size: 30px;
    }
    h2 {
        font-family: suecaslabmedium, Georgia;
        font-size: 30px;
    }
}
// Fin Selectores-Anidamiento
// este comentario se borrará luego de la compilación

.camisetas {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 20% 200px;
    background-attachment: fixed;
    background-size: 35%;
    img {
        float: right;
        width: 450px;
        margin-right: 10%;
        margin-top: 10%;
    }
}
h2#arsenal {
    color: lighten($arsenal-color, 50%); // llamada de variable
}
h2#aston {
    color: lighten($aston-color, 70%);
}
h2#burnley {
    color: lighten($burnley-color, 30%);
}

#arsenal-local {
    @include camiseta-back('../img/Arsenal_Home_1000x1000.png', $arsenal-color); // llamada de mixin
}
#arsenal-visit {
    @include camiseta-back('../img/Arsenal_Away_1000x1000.png', $arsenal-color);
}
#aston-local {
    @include camiseta-back('../img/Aston_Villa_Home_1000x1000.png', $aston-color);
}
#aston-visit {
    @include camiseta-back('../img/Aston_Villa_Away_1000x1000.png', $aston-color);
}
#burnley-local {
    @include camiseta-back('../img/Burnley_Home_1000x1000.png', $burnley-color);
}
#burnley-visit {
    @include camiseta-back('../img/Burnley_Away_1000x1000.png', $burnley-color);
}


@media (max-width: 414px) {
    .camisetas {
        position: relative;
        background-position: center 20px;
        background-attachment: scroll;
        background-size: 80%;
        img {
            float: none;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
    body .camisetas:nth-child(odd) {
        display: none;
    }
}