@charset "UTF-8";
/* SASS: importacion de hojas de estilo */
/*!
 * Bootstrap Reboot v4.0.0 (https://getbootstrap.com)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
/* fonts face */
@font-face {
  font-family: 'TheSans';
  src: url(https://static.glanacion.com/v1/common/fonts/TheSans_B2_5_.eot);
  src: local("TheSans_B2_5_"), url(https://static.glanacion.com/v1/common/fonts/TheSans_B2_5_.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/TheSans_B2_5_.svg#TheSans_B2_5_) format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TheSansItalic';
  src: url(https://static.glanacion.com/v1/common/fonts/TheSans_B2_5i.eot);
  src: local("TheSans_B2_5i"), url(https://static.glanacion.com/v1/common/fonts/TheSans_B2_5i.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/TheSans_B2_5i.svg#TheSans_B2_5i_) format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TheSansSemi";
  src: url(https://static.glanacion.com/v1/common/fonts/TheSans_TT6_.eot);
  src: local("TheSans_TT6_"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT6_.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT6_.svg#TheSans_TT6_) format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TheSansSemiItalic";
  src: url(https://static.glanacion.com/v1/common/fonts/TheSans_TT6i.eot);
  src: local("TheSans_TT6i"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT6i.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT6i.svg#TheSans_TT6_) format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TheSansBold";
  src: url(https://static.glanacion.com/v1/common/fonts/TheSans_TT7_.eot);
  src: local("TheSans_TT7_"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT7_.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT7_.svg#TheSans_TT7_) format("svg");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TheSansBoldItalic";
  src: url(https://static.glanacion.com/v1/common/fonts/TheSans_TT7i.eot);
  src: local("TheSans_TT7i_"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT7i.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/TheSans_TT7i.svg#TheSans_TT7i) format("svg");
  font-style: normal;
  font-weight: normal;
}

/****** SUECA **************************************************************/
@font-face {
  font-family: 'suecaslabmedium';
  src: url(https://static.glanacion.com/v1/common/fonts/suecaslab-medium-webfont.eot);
  src: url(https://static.glanacion.com/v1/common/fonts/suecaslab-medium-webfont.eot?#iefix) format("embedded-opentype"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-medium-webfont.woff2) format("woff2"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-medium-webfont.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-medium-webfont.ttf) format("truetype"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-medium-webfont.svg#suecaslabmedium) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suecaslabbold';
  src: url(https://static.glanacion.com/v1/common/fonts/suecaslab-bold-webfont.eot);
  src: url(https://static.glanacion.com/v1/common/fonts/suecaslab-bold-webfont.eot?#iefix) format("embedded-opentype"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-bold-webfont.woff2) format("woff2"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-bold-webfont.woff) format("woff"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-bold-webfont.ttf) format("truetype"), url(https://static.glanacion.com/v1/common/fonts/suecaslab-bold-webfont.svg#suecaslabbold) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suecaslabthin';
  src: url("suecaslab-thin-webfont.eot");
  src: url("suecaslab-thin-webfont.eot?#iefix") format("embedded-opentype"), url("suecaslab-thin-webfont.woff2") format("woff2"), url("suecaslab-thin-webfont.woff") format("woff"), url("suecaslab-thin-webfont.ttf") format("truetype"), url("suecaslab-thin-webfont.svg#suecaslabthin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suecananobold';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Bold.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Bold.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Bold.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Bold.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Bold.svg#SuecaNano-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'suecananolight';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Light.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Light.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Light.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Light.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Light.svg#SuecaNano-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'suecananoheavy';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.svg#SuecaNano-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'suecananoheavy';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Heavy.svg#SuecaNano-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'suecanano';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Regular.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Regular.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Regular.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Regular.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Regular.svg#SuecaNano-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'suecananosemibold';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Semibold.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Semibold.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Semibold.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Semibold.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Semibold.svg#SuecaNano-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'suecananomedium';
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Medium.eot");
  src: url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Medium.eot?#iefix") format("embedded-opentype"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Medium.woff2") format("woff2"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Medium.woff") format("woff"), url("https://especiales.lanacion.com.ar/multimedia/proyectos/fonts/SuecaNano-Medium.svg#SuecaNano-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}

/********************************************************************/
/* SASS: Declaracion Mixin */
html, body {
  width: 100%;
  height: 100%;
}

/* SASS: Selectores-Anidamiento */
/* Este comentario no se borra luego de la compilación */
.escudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.escudo img {
  height: 70px;
  margin: 10px 50px;
}

.escudo span {
  font-size: 30px;
}

.escudo h2 {
  font-family: suecaslabmedium, Georgia;
  font-size: 30px;
}

.camisetas {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 20% 200px;
  background-attachment: fixed;
  background-size: 35%;
}

.camisetas img {
  float: right;
  width: 450px;
  margin-right: 10%;
  margin-top: 10%;
}

h2#arsenal {
  color: #fddbdc;
}

h2#aston {
  color: #ffd1dc;
}

h2#burnley {
  color: #d9e3ea;
}

#arsenal-local {
  background-image: url("../img/Arsenal_Home_1000x1000.png");
  background-color: #cd0c13;
}

#arsenal-visit {
  background-image: url("../img/Arsenal_Away_1000x1000.png");
  background-color: #cd0c13;
}

#aston-local {
  background-image: url("../img/Aston_Villa_Home_1000x1000.png");
  background-color: #6b0019;
}

#aston-visit {
  background-image: url("../img/Aston_Villa_Away_1000x1000.png");
  background-color: #6b0019;
}

#burnley-local {
  background-image: url("../img/Burnley_Home_1000x1000.png");
  background-color: #789ab2;
}

#burnley-visit {
  background-image: url("../img/Burnley_Away_1000x1000.png");
  background-color: #789ab2;
}

@media (max-width: 414px) {
  .camisetas {
    position: relative;
    background-position: center 20px;
    background-attachment: scroll;
    background-size: 80%;
  }
  .camisetas img {
    float: none;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  body .camisetas:nth-child(odd) {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */