html, body {
    width: 100%;
    height: 100%;
}
.escudo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.escudo img {
    display: inline-block;
    height: 70px;
    margin: 10px 50px;
}
.escudo span {
    font-size: 30px;
}
.camisetas {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 20% 200px;
    background-attachment: fixed;
    background-size: 35%;
}
#arsenal-local {
    background-image: url('../img/Arsenal_Home_1000x1000.png');
    background-color: #cd0c13;
}
#arsenal-visit {
    background-image: url('../img/Arsenal_Away_1000x1000.png');
    background-color: #cd0c13;
}
#aston-local {
    background-image: url('../img/Aston_Villa_Home_1000x1000.png');
    background-color: #6b0019;
}
#aston-visit {
    background-image: url('../img/Aston_Villa_Away_1000x1000.png');
    background-color: #6b0019;
}
#burnley-local {
    background-image: url('../img/Burnley_Home_1000x1000.png');
    background-color: #789ab2;
}
#burnley-visit {
    background-image: url('../img/Burnley_Away_1000x1000.png');
    background-color: #789ab2;
}
.camisetas img {
    float: right;
    width: 450px;
    margin-right: 10%;
    margin-top: 10%;
}


@media (max-width: 414px) {
    .camisetas {
        position: relative;
        background-position: center 20px;
        background-attachment: scroll;
        background-size: 80%;
    }
    .camisetas img {
        float: none;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    body .camisetas:nth-child(odd) {
        display: none;
    }
    
}
